body {
    height: 100%;
    overflow-y:hidden;
}

div#main {
    height: inherit;
    padding: 40px 0 5px;
}

div nav.navbar {
    min-height: 0;
}

div nav .navbar-brand {
    height: 30px;
    padding: 5px 30px;
}

div nav .nav li a {
    height: 30px;
    padding: 5px 30px;
}

div.row, div.col-lg-2, div.col-lg-4, div.col-lg-6 {
    height: inherit;
}

div.alertRow {
    height: auto;
}

/*Catalog*/
div#catalog {
    border: 1px solid #3883fa;
    margin: 0 -15px;
    height: 80%
}

div#catalog div#catalog-bar {
    width: auto;
    height: 35px;
    background: #3883fa;
    position: absolute;
    left: 0;
    right: 0;
}

div#catalog div#catalog-tree {
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 35px;
    height: 100%
}

div#catalog div#catalog-tree div#tree {
    font-size: 12px;
}

/*Json editor*/
div#jsoneditor {
    height: 80%
}


/*button*/
button#btn_load {
    visibility: hidden;
}

button#btn_delete {
    visibility: hidden;
}

/*modal*/
button#btn_modal {
    visibility: hidden;
}

div#modal_execute_output div.modal-dialog {
    width: 75%;
    height: 90%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
}

div#modal_execute_output div.modal-content {
    height: 100%;
}

div#modal_execute_output div.modal-header {
    position: absolute;
    left: 0;
    right: 0;
    z-Index: 100;
}

div#modal_execute_output div.modal-body {

    padding-top: 70px;
    height: 100%;
    width: 100%;
    z-Index: 99;

}

div#modal_execute_output div.modal-body div#modal_execute_output_body {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

div#modal_execute_output div#modal_execute_output_body p {
    font-size: 12px;
    margin-bottom: 2px;
}